@font-face {
  font-family: "Cubefont";
  src: url("/src/fonts/modular.ttf") format("ttf");
  font-style: normal;
}

.app__brown {
  width: 370px;
  height: 797px;
  background-color: #f3f0eb;
  position: relative;
}

.brown__header {
  width: 370px;
  height: 38.806px;
  flex-shrink: 0;
  background-color: #ffff;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time__brown {
  color: #000;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.49px;
}

/* styling the headeer */

/****************** styling the battery *************/

.brown__battery {
  display: flex;
  align-items: center;
  gap: 1px;
}
.cadre__battery {
  width: 22px;
  height: 12px;
  border-radius: 4px;
  border: 1px solid #a8a8a8;
  display: flex;
  align-items: center;
  padding: 1px;
}

.level__battery {
  width: 30%;
  height: 8px;
  border-radius: 2px 2px 2px 2px;
  background: #fcc642;
}
.samll__border {
  width: 1px;
  height: 3px;
  background-color: #a8a8a8;
}
.brown__bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 124px;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    #f2f1f1 0%,
    #e9e9e9 26.36%,
    #f7f7f7 68.49%,
    #f7f7f7 100%
  );
}

.brownlevel__1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding-top: 6px;
}

.semi__white {
  width: 18px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 0px 9.5px 9.5px 0px;
  background: #fff;
}

.brown__search {
  width: 320px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  padding-left: 7px;
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
}
.semit__whites {
  width: 18px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 9.5px 0px 0 9.5px;
  background: #fff;
}

.brownlevel__2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  padding-left: 19px;
  padding-right: 21px;
}
.brownlevel__3 {
  width: 132px;
  height: 5px;
  flex-shrink: 0;
  border-radius: 2.5px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 27px;
}

.brown__search {
  display: flex;
  align-items: center;
}

.first__span {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.15px;
}
.second__span {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.18px;
}

.search__text {
  color: #000;
  font-family: Inter;
  font-size: 17.6px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.search__bar {
  display: flex;
  gap: 6px;
  align-items: center;
}

/* stytling the content */
.brown__content {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.content__first {
  width: 342px;
  height: 168px;
  border-right: 1px solid #868580;
  border-bottom: 1px solid #868580;
  border-left: 1px solid #868580;
  margin: auto;
}
.content__second {
  width: 343px;
  height: 396px;
  border: 1px solid #868580;
  margin: auto;
}

.content__third {
  width: 343px;
  height: 53px;
  border-top: 1px solid #868580;
  border-right: 1px solid #868580;
  border-left: 1px solid #868580;
  margin: auto;
}

.brown__table1 {
  width: 146px;
  height: 30px;
  background: #f3f0eb;
  border-bottom: 1px solid #868580;
}

.brown__table2 {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-bottom: 1px solid #868580;
  display: flex;
  align-self: baseline;
}

.table {
  display: flex;
}

.brown__table11 {
  width: 146px;
  height: 46px;
}

.brown__table21 {
  width: 100%;
  height: 46px;
  background-color: #fff;
}

.second__contentheader {
  width: 100%;
  height: 41px;
  background-color: #ddd7cb;
  display: grid;
  place-items: center;
}

.second__contentheader > span {
  color: #4b3b21;
  font-family: Inter;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.115px;
}

.__item2 {
  height: 263px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.brown__table1,
.brown__table11 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.brown__table1 > span {
  color: #4b3b21;
  font-family: Inter;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.115px;
  padding-left: 5px;
}

.brown__table11 > span {
  color: #4b3b21;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 5px;
  letter-spacing: 0.115px;
}
.__item {
  width: 146px;
  height: 263px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 7px;
}

.brown__date {
  display: flex;
  align-items: center;
  color: #4d4a41;
  font-family: Cubefont;
  font-size: 12.3px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}
.brown__accountnumber {
  display: flex;
  align-items: center;
  color: #50483d;
  font-family: Cubefont;
  font-size: 12.3px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}
.__center {
  display: flex;
  align-items: center;
}
.brown__table1 > span {
}

.brown__table2 > span {
  padding-left: 7px;
}

.brown__table2 {
  display: flex;
  align-items: center;
}
.gmo {
  color: #4d4a41;
  font-family: Inter;
  font-size: 13.2px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.792px;
}

.text__ {
  color: #655e54;
  font-family: Inter;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.115px;
}
.__p5 {
  padding-left: 5px;
}
.number {
  color: #4d4a41;
  font-family: Cubefont;
  font-size: 12.2px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.793px;
}

.brown__currency {
  color: #4d4a41;
  font-family: Inter;
  font-size: 11.3px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.brown__amount {
  color: #4d4a41;
  font-family: Inter;
  font-size: 12.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: baseline;
  gap: 3px;
}
.__end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}
.__ends {
  display: flex;
  align-items: flex-end;
}
.brown__smalltable {
  width: 229px;
  height: 222px;
  border: 1px solid #9b999a;
  margin: auto;
}
.smallheader {
  height: 30px;
  width: 100%;
  background-color: #f2efe8;
  display: flex;
  align-items: center;
}

.smallheader > span {
  color: #4b3b21;
  font-family: Inter;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.115px;
  padding-left: 9px;
}
.semi__header {
  color: #4b3b21;
  font-family: Inter;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.115px;
}
.small__header {
  color: #4d4a41;
  font-family: Inter;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.115px;
}
.large__cadre {
  border: 3px solid #dbd7ce;
  width: 208px;
  height: 91px;
  margin: auto;
  padding: 10px 13px 0px 6px;
}

.headers__large {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 10px;
}

.semi__amount {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 13px;
}

.amount__semi {
  color: #4d4a41;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.845px;
}
.title__amount {
  color: #4d4a41;
  font-family: Inter;
  font-size: 11.3px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 10px;
}

.cadre__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bults {
  width: 4px;
  height: 4px;
  background-color: #3a2b0e;
  border-radius: 50%;
}
.large__left {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.large__left > div {
  display: flex;
  align-items: center;
  gap: 9px;
}
.cadre__text {
  color: #4d4a41;
  font-family: Inter;
  font-size: 10.6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cadre__amount {
  color: #4d4a41;
  font-family: Inter;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.563px;
}

.small__text {
  color: #4d4a41;
  font-family: Inter;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.last__items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.last__amount {
  color: #4d4a41;
  font-family: Inter;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.563px;
  display: flex;
  align-items: flex-end;
  gap: 3px;
}
.last__currency {
  color: #4d4a41;
  font-family: Inter;
  font-size: 10.8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.__lastone {
  border-bottom: 0px !important;
}
